@font-face
{ 
  font-family: 'Rusted_Plastic';
  src: url('../fonts/rusted_plastic.ttf');
}

html
{
  position: relative;
  min-height: 100%;

  body
  {
    background-color: #94664C;
    margin-bottom: 30px;

    h1
    {
      font-family: "Rusted_Plastic";
      font-size: 46px;
    }

    h2
    {
      font-family: "Rusted_Plastic";
    }

    .container
    {
      margin-top: 60px;
    
      .header
      {
        h1
        {
          text-align: center;
        }
          
        .brand
        {
          height: 20px;
          width: 50px;
        }

      } /*end header*/

      .carousel
      {
        margin-top: 25px;
      }

      footer
      {
        line-height: 30px;
        height: 30px;
        background-color: #94664C;

        .copyright
        {
          text-align: center;
        }
      } /*end footer*/

    } /*end container*/
  } /*end body*/
} /*end html*/